.content {
  padding: 100px 0;
  display: grid;
  grid-template-columns: 41% 57%;
  justify-content: space-between;
  grid-template-rows: 36px 256px;
  grid-template-areas:
  "header block"
  "text block"
  "form block"
  "list block";
}

.content h2 {
  grid-area: header;
  margin: 0;
  margin-bottom: 3px;
  height: fit-content;
}

.content ul:first-of-type {
  grid-area: text;
  height: fit-content;
}

.content ul:nth-of-type(2) {
  grid-area: list;
}

.content > div {
  grid-area: block;
  align-self: baseline;
}

.content form {
  grid-area: form;
}
