.menuBlock {
  display: flex;
  justify-content: end;
  align-items: center;
}

.menuBlock:not(:last-child) {
  margin-right: 15px;
}

.menuBlock span {
  margin-left: 5px;
  transition: color .3s ease-in-out;
}

.menuBlock svg {
  fill: var(--red);
  transition: fill .3s ease-in-out;
}

@media all and (min-width: 1024px) {
  .menuBlock:hover svg {
    fill: var(--redHover);
  }

  .menuBlock:hover span {
    color: var(--redHover);
  }
}
