.timer {
  position: absolute;
  top: 25%;
  left: 24%;
  display: flex;
  align-items: center;
}

.timer h3 {
  margin: 0;
  margin-right: 25px;
  font-weight: 200;
  font-size: 150px;
  line-height: 150px;
}

.timer * {
  display: inline-block;
}

.timer > div {
  height: auto;
}

.addButton {
  position: absolute;
  right: 18%;
  top: 35%;
}

.addButton svg {
  fill: var(--greyC4);
  transition: fill .3s ease-in-out;
}

@media all and (min-width: 1024px) {
  .addButton:hover svg {
    fill: var(--greenHover);
  }
}

