.taskItem {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
}

.taskItem::before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  border-radius: 50%;
  border: 1px solid var(--greyC4);
}

.taskItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: var(--grayF4);
}

.taskItem input {
  padding: 4px 5px;
  border: none;
  background: transparent;
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  cursor: default;
}

.taskItem input:focus {
  outline: none;
  background: var(--grayF4);
}
