.block {
  background: var(--grayF4);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 40px;
  background: var(--greyC4);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 85px;
  padding-bottom: 107px;
}

.content p {
  margin: 0;
  margin-bottom: 32px;
}

.btns button:not(:last-child) {
  margin-right: 25px;
}

.block.isTimerPaused .header {
  background: var(--red);
}

.block.isBtnStartActive .header {
  background: var(--red);
}

.block.isBtnStartActive h3 {
  color: var(--red);
}

.block.isTimerPaused.isBtnStartActive .header {
  background: var(--green);
}
.block.isTimerPaused.isBtnStartActive h3 {
  color: var(--green);
}
