.menuItemsList div:last-child .divider{
  display: none;
}

.menuItem {
  position: relative;
  padding: 17px 15px;
  min-width: 370px;
  background: var(--grayF4);
  text-align: inherit;
  cursor: pointer;
}

.menuItem.isDisable svg {
  filter: grayscale(1);
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--greyDE);
}

.isHide {
  display: none;
}

.isHide + .divider {
  display: none;
}

@media all and (min-width: 1024px) {
  .isHide {
    display: flex;
  }

  .isHide + .divider {
    display: block;
  }

  .menuItem:hover {
    background: var(--grayF4);
  }
}
